apiVersion: v1
kind: Service
metadata:
  name: {{ include "webmvc-chart.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "webmvc-chart.labels" . | nindent 4 }}
    {{- with .Values.podLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "webmvc-chart.selectorLabels" . | nindent 4 }}
  ports:
    {{- range .Values.service.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: TCP
    {{- end }}
